body{
    font-family:'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    background-color: #fdf8eb53;
}

header{
    background-color: #000000;
}

/*----------------- NAV ----------------*/
.dropdown-menu{
    background-color: #dece9c;
    margin-top: 0;
}
.dropdown-item {
    font-family: 'Rubik Dirt', cursive;
    color: #000000;
    font-variant: small-caps;
}
.dropdown-item:active {
    background-color: #dece9c;

}

.navbar-toggler{
    color: whitesmoke;
    background-color: #cdbe8f;
}

.nav-link{
    color: wheat;
    font-size: medium;
    font-variant: small-caps;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link:hover{
    color:rgba(245, 222, 179, 0.711);
}
#logo:hover{
    background-color: #000000;
}

#search{
    width: 55%;
    margin: auto;
    padding: 4px;
}
#search-btn-nav{
    background-color: wheat ;
}

/*----------------- NAV LOG ----------------*/

#nav-user-photo{
    width: 50px;
    height: 50px;
}



/*------------------ MAIN -----------------*/
main h1{
    text-align: center;
    font-variant: small-caps;
    color: maroon;
    text-shadow: 3px 3px 6px rgba(80, 2, 2, 0.547);
    font-family: 'Rubik Dirt', cursive;
}

main h2{
font-variant: small-caps;
font-size: large;
font-weight: bold;
}

main h5{
    font-size: medium;
    font-weight: bold;
}

.container{
    border: none;
    background-color: white;
}

/* ----------- LOGIN / REGISTER-------------*/

.pwd-forgotten{
    float: right;
}

.pwd-forgotten a{
    text-decoration: underline 2px maroon ;
    color:black;
    font-weight: bold;
}

.start-register a{
    text-decoration: underline 2px maroon ;
    color:black;
    font-weight: bold;
}
.log-reg-box{
    padding: 5px;
    border-style:hidden;
    border-radius: 5px;
    background-color: #ede9dd;
}

.reg-back-intro{
    float: right;
}

.reg-back-intro a{
    text-decoration: underline 2px maroon ;
    color:black;
    font-weight: bold;
}

/*------------------ PAG INICIAL --------------*/
#picPilotos {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}
#gallery{
    border: 1px solid maroon;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    height: 150px;
 }

 /* Style the images inside the grid */
    #intro-gallery img {
    opacity: 0.9;
    cursor: pointer;
  }

  #intro-gallery img:hover {
    opacity: 1;
  }

 .closebtn{
    top: 10px;
    right: 15px;
    color: black;
    font-size: 35px;
    cursor:pointer;
 }

/*-----------------F1-------------*/

.clearfix-F1{
    padding-top: 30px;
}

#F1pic{
   border-radius: 8px;
   opacity: 0.9;
}

#F1pic:hover {
    transform: scaleX(-1);
}

/*------------------- PILOTOS -----------------*/
.flip-card-container{
    width: 250px;
    height: 350px;
    perspective: 1000px;
    margin:auto;
    padding-bottom: 15px;
}

.flip-card{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card-container:hover .flip-card{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
}

.flip-card-front{
    background-color: #20615b;
    color: #dece9c;
}

.flip-card-back{
    background-color: #dece9c;
    color: #20615b;
    transform: rotateY(180deg);
    flex-direction: column;
}
.flip-card-front img{
    width: 95%;
    height: auto;
    border-radius: 5px;
}

.flip-card-back h2{
    font-weight: bold;
    font-size:larger;
}


.flip-card-back p{
    margin: 1rem;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    text-align: center;
    line-height: 2px;
}

.flip-card-back a{
    font-size: 1.2em;
    border: 1px solid #20615b;;
    color: rgba(2, 30, 2, 0.937);
    padding: 7px;
    border-radius: 100%;
}

.flip-card-back a:hover{
    border: 1px solid rgba(2, 30, 2, 0.937);
    color:  #20615b;;
}

/*-------------- CLASSIFICACAO---------------*/
#classificacao{
    margin: auto;
    width: 70%;
}

/*--------------- CONSTRUTORES E CIRCUITO -------------*/

#construtores{
    background-color: black;
    color: white;
}

#contrutores-a a{
    color: rgb(194, 16, 16) ;
}
#contrutores-a a:hover{
    color: white;
}

#pic-car{
    width: 100%;
    position: relative;
    animation: mymove 6s;
    animation-iteration-count: calc(2);
  }

  @keyframes mymove {
    from {right: 200px;}
    to {right: 0px;}
  }

.card{
    background-color: black;
    color: white;
    margin:auto;
    margin-bottom: 20px;
}

.card:hover{
    background-color: rgba(0, 0, 0, 0.682);
}

.card-title{
    font-weight: bold;
    font-size: medium;
    text-align: center;
    text-transform: uppercase;
    color: maroon;
}

.card-text{
    text-align: center;
    line-height: 10px;
}
.card-body a{
    color:rgb(194, 16, 16);
}

.card-body a:hover{
        color: black;
}

#circuito{
    border: 1px solid rgb(52, 0, 0);
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}

 #circuito:hover {
    box-shadow: 5px 3px 3px rgba(186, 0, 0, 0.5);
 }

.podium-border{
    border: 2px maroon;
    border-style: solid;
    border-radius: 4px;
    padding: 10px;
}
#btn-gp{
    font-weight: bold;
    font-variant: small-caps;
    background-color: rgb(182, 194, 127);
    color: black;
}
/*----------- PIT STOP -------------------*/

#img-pitstop{
    height: 380px;
    background-image: url('../Img/pitstop/pitstop.jpg');
    background-repeat:no-repeat;
    background-size: cover ;
}

/*------------- PILOTOS ICONICOS--------------*/



.carousel{
    width: 80%;
    margin: auto;
}
.carousel-caption {
    background-color:black;
}

.column{
    color: whitesmoke;
}
.carousel h2{
    font-variant: small-caps;
    font-size: larger;
    font-weight: bolder;
    color:wheat;
}
.background {
    background: url(klematis.jpg) repeat;
}

.transbox {
    margin: 30px;
    background-color: #ffffff;
    opacity: 0.6;
}

.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

/* --------- QUIZZ -------------*/

.container-quizz {
    position: relative;
    width: 100%;

    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .column-quizz {
    margin-bottom: 1.5rem;
    width: 100%;
    float: left;
    box-sizing: border-box;
  }

  @media (min-width: 640px) {
    .container-quizz {
      width: 90%;
      padding: 0; }
    .column-quizz {
      margin-left: 4%; }
    .column-quizz:first-child {
      margin-left: 0; }

    .full-width.column-quizz             { width: 100%; margin-left: 0; }

    .one-half.column-quizz                { width: 48%; }

    .one-third.column-quizz               { width: 30.6666666667%; }
    .two-thirds.column-quizz              { width: 65.3333333333%; }

    .one-quarter.column-quizz             { width: 22%; }
    .two-quarter.column-quizz             { width: 48%; }
    .three-quarter.column-quizz           { width: 74%; }

    .one-half.column-quizz                { width: 48%; }

  }

  .container-quizz:after,
  .row:after,
  .clearfix {
    content: "";
    display: table;
    clear: both; }

  #question-2, #question-3, #question-4, #question-5, #question-6{
    display: none;
  }

  .button {
    margin: 10px 0 0 0;
    float: none;
    cursor:pointer;

    font-size: 1em;
    border: none;
    padding: 5px 10px;
    line-height: 18px;

    border-radius: 3px;
    vertical-align: baseline;
    background: maroon;
    color: white;
    text-decoration: none !important;
    display: inline-block;

  }

  .button:hover {
    background-color: black !important;
    color: white;
  }
  .center {
    text-align: center;
  }

  .questions_box {
    background-color: rgb(247, 228, 193);
    padding: 60px;
    text-align: left;
    max-width: 960px;
    box-sizing: border-box;
  }
  .questions_box{
    color: #000000;
  }

  #progress_bar {
    background-color: maroon;
    width: 20%;
    height: 10px;
    transition: all 100ms ease-in-out;
  }
  #printscoreinfo{
    font-weight: bold;
    font-style: italic;
  }

  #picQuizz{
    border: 1px solid maroon;
    border-radius: 4px;
    padding: 3px;
    width: 40%;
}
h3{
    font-weight: bold;
}
.bi{
    color: maroon;
}

/*--------------- FOOTER---------------*/

footer{
    background-color: #E10600 ;
    color: black;
    font-weight:bold;
    padding:10px;
}
footer i{
    padding: 5px;
}

footer i:hover{
    color: white;
}


/*---------------- NEXT RACE ---------------*/

.next-race-img{
    width: 10%;
    border-radius: 5px;
    margin-bottom: 10px ;
}
#clock{
    color:#000000;
}
#next-race{

    background-color: #000000c2;
    color: white;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 30%;

}

#race-time{
    border: #006341;
    background-color: #006341;
    padding-left: 0;
    padding-right: 0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px ;
}

#race time p{
    font-size: large;
}

/* -------------- NEWS ----------- */


#news{ /* 2F5168 */
    width:20%;
    overflow:hidden;
    background-color: #E10600;
    margin: 2.5em auto;
    height: auto;
    border: 2px solid gray;
    padding: 1.2em 0;
    font-size: 1.5em;
    font-family: "Agency FB";
    color: #E4F6F8;
}

/* -------------- MINHA CONTA ----------- */
#account_btn_cancel, #account_btn_save, #account_btn_select_img, #account_btn_save_image{
    display: none;
}

#form-img{
    width: 150px;
    height: 150px;
}

/* -------------- ADMIN UPDATE DRIVERS RANK----------- */

#input-points-1,#input-points-2,#input-points-3,#input-points-4,#input-points-5,#input-points-6,#input-points-7,#input-points-8,#input-points-9,#input-points-10,#input-points-11,#input-points-12,#input-points-13,#input-points-14,#input-points-15,#input-points-16,#input-points-17,#input-points-18,#input-points-19, #input-points-20 {
   display: none;
}

#save-btn-points-1,#save-btn-points-2,#save-btn-points-3,#save-btn-points-4,#save-btn-points-5,#save-btn-points-6,#save-btn-points-7,#save-btn-points-8,#save-btn-points-9,#save-btn-points-10,#save-btn-points-11,#save-btn-points-12,#save-btn-points-13,#save-btn-points-14,#save-btn-points-15,#save-btn-points-16,#save-btn-points-17,#save-btn-points-18,#save-btn-points-19,#save-btn-points-20 {
    display: none;
 }

#input-id{
    display: none;
}

#ranking_btn_cancel-1, #ranking_btn_cancel-2, #ranking_btn_cancel-3, #ranking_btn_cancel-4, #ranking_btn_cancel-5, #ranking_btn_cancel-6, #ranking_btn_cancel-7, #ranking_btn_cancel-8, #ranking_btn_cancel-9, #ranking_btn_cancel-10, #ranking_btn_cancel-11, #ranking_btn_cancel-12, #ranking_btn_cancel-13, #ranking_btn_cancel-14, #ranking_btn_cancel-15,#ranking_btn_cancel-16, #ranking_btn_cancel-17, #ranking_btn_cancel-18, #ranking_btn_cancel-19, #ranking_btn_cancel-20{
    display: none;
}

/* -------------- ADMIN UPDATE TEAMS RANK----------- */

#input-points-teams-1,#input-points-teams-2, #input-points-teams-3, #input-points-teams-4, #input-points-teams-5, #input-points-teams-6, #input-points-teams-7, #input-points-teams-8, #input-points-teams-9, #input-points-teams-10 {
    display: none;
}

#ranking_teams_btn_cancel-1, #ranking_teams_btn_cancel-2, #ranking_teams_btn_cancel-3, #ranking_teams_btn_cancel-4, #ranking_teams_btn_cancel-5, #ranking_teams_btn_cancel-6, #ranking_teams_btn_cancel-7, #ranking_teams_btn_cancel-8, #ranking_teams_btn_cancel-9, #ranking_teams_btn_cancel-10{
    display: none;
}

#save-btn-teams-points-1,#save-btn-teams-points-2,#save-btn-teams-points-3,#save-btn-teams-points-4,#save-btn-teams-points-5,#save-btn-teams-points-6,#save-btn-teams-points-7,#save-btn-teams-points-8,#save-btn-teams-points-9,#save-btn-teams-points-10{
    display: none;
}

/* -------------- ADMIN UPDATE RESULTS----------- */

#save-btn-gp-1, #save-btn-gp-2, #save-btn-gp-3, #save-btn-gp-4, #save-btn-gp-5, #save-btn-gp-6,#save-btn-gp-7,#save-btn-gp-8,#save-btn-gp-9,#save-btn-gp-10,#save-btn-gp-11,#save-btn-gp-12,#save-btn-gp-13,#save-btn-gp-14,#save-btn-gp-15,#save-btn-gp-16,#save-btn-gp-17,#save-btn-gp-18,#save-btn-gp-19,#save-btn-gp-20, #save-btn-gp-21,#save-btn-gp-22{
    display: none;
}

#gp_btn_cancel-1,#gp_btn_cancel-2,#gp_btn_cancel-3,#gp_btn_cancel-4,#gp_btn_cancel-5,#gp_btn_cancel-6,#gp_btn_cancel-7,#gp_btn_cancel-8,#gp_btn_cancel-9,#gp_btn_cancel-10,#gp_btn_cancel-11,#gp_btn_cancel-12,#gp_btn_cancel-13,#gp_btn_cancel-14,#gp_btn_cancel-15,#gp_btn_cancel-16,#gp_btn_cancel-17,#gp_btn_cancel-18,#gp_btn_cancel-19,#gp_btn_cancel-20,#gp_btn_cancel-21,#gp_btn_cancel-22 {
    display: none;
}

#input-podium-1,#input-podium-2,#input-podium-3{
    display: none;
}
#results-input-id{
    display: none;
}


/*-------CRUD NEWS ----------*/

.back-intro{
    float: right;
    margin-right: 15px;
   
}

.back-intro a{
    text-decoration: underline 2px maroon ;
    color:black;
    font-weight: bold;
}